In [2]:
import pandas as pd
import numpy as np

### pandas 更像是一种数据结构

1. 一维 Series

2. 二维 DataFrame

### 创建方式

In [4]:
obj1 = pd.Series(np.arange(4))
obj2 = pd.DataFrame(np.arange(9).reshape(3, 3))

In [5]:
obj1

0    0
1    1
2    2
3    3
dtype: int64

In [6]:
obj2

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

### 属性

In [7]:
obj1.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj1.values

array([0, 1, 2, 3])

### 操作

In [10]:
obj1 * 2

0    0
1    2
2    4
3    6
dtype: int64

In [11]:
3 in obj1

True

In [12]:
obj1.name = 'one'
obj1.index.name = 'two'
obj1

two
0    0
1    1
2    2
3    3
Name: one, dtype: int64

In [13]:
obj1.index = ['a', 'b', 'c', 'd']
obj1

a    0
b    1
c    2
d    3
Name: one, dtype: int64

### loc 和 iloc

In [14]:
obj2.loc[0]

0    0
1    1
2    2
Name: 0, dtype: int64

In [15]:
obj2.iloc[:1, :]

   0  1  2
0  0  1  2