# Data Aggregation and Group Operations

In [2]:
import numpy as np
import pandas as pd

## GroupBy Mechanics

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -2.461058 -1.061573
1    a  two -0.468559 -2.393383
2    b  one  1.149500  0.544226
3    b  two -0.339912  0.332108
4    a  one  0.393503  0.704540

In [3]:
grouped = df['data1'].groupby(df['key1']) # 可以通过自身有的分组
grouped

In [4]:
grouped.mean()

key1
a   -0.845372
b    0.404794
Name: data1, dtype: float64

In [5]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean() 
means

key1  key2
a     one    -1.033778
      two    -0.468559
b     one     1.149500
      two    -0.339912
Name: data1, dtype: float64

In [6]:
means.unstack()

key2       one       two
key1
a    -1.033778 -0.468559
b     1.149500 -0.339912

In [7]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean() # 也可以通过其他向量分组

California  2005   -0.468559
            2006    1.149500
Ohio        2005   -1.400485
            2006    0.393503
Name: data1, dtype: float64

In [8]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.845372 -0.916805
b     0.404794  0.438167

In [9]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -1.033778 -0.178517
     two  -0.468559 -2.393383
b    one   1.149500  0.544226
     two  -0.339912  0.332108

In [10]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterating Over Groups

In [11]:
for name, group in df.groupby('key1'): 
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -2.461058 -1.061573
1    a  two -0.468559 -2.393383
4    a  one  0.393503  0.704540
b
  key1 key2     data1     data2
2    b  one  1.149500  0.544226
3    b  two -0.339912  0.332108

In [12]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -2.461058 -1.061573
4    a  one  0.393503  0.704540
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.468559 -2.393383
('b', 'one')
  key1 key2   data1     data2
2    b  one  1.1495  0.544226
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.339912  0.332108

In [13]:
list(df.groupby('key1'))

[('a',   key1 key2     data1     data2
  0    a  one -2.461058 -1.061573
  1    a  two -0.468559 -2.393383
  4    a  one  0.393503  0.704540), ('b',   key1 key2     data1     data2
  2    b  one  1.149500  0.544226
  3    b  two -0.339912  0.332108)]

In [14]:
dict(list(df.groupby('key1')))

{'a':   key1 key2     data1     data2
 0    a  one -2.461058 -1.061573
 1    a  two -0.468559 -2.393383
 4    a  one  0.393503  0.704540, 'b':   key1 key2     data1     data2
 2    b  one  1.149500  0.544226
 3    b  two -0.339912  0.332108}

In [15]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1 key2     data1     data2
 0    a  one -2.461058 -1.061573
 1    a  two -0.468559 -2.393383
 4    a  one  0.393503  0.704540, 'b':   key1 key2     data1     data2
 2    b  one  1.149500  0.544226
 3    b  two -0.339912  0.332108}

In [16]:
pieces['b']

  key1 key2     data1     data2
2    b  one  1.149500  0.544226
3    b  two -0.339912  0.332108

In [17]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [18]:
df.groupby(df.dtypes, axis=1)

In [19]:
grouped = df.groupby(df.dtypes, axis=1)

In [20]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0 -2.461058 -1.061573
1 -0.468559 -2.393383
2  1.149500  0.544226
3 -0.339912  0.332108
4  0.393503  0.704540
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [21]:
df.groupby(['key1', 'key2'])[['data2']]

### Selecting a Column or Subset of Columns

df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

In [22]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one  -0.178517
     two  -2.393383
b    one   0.544226
     two   0.332108

In [23]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

key1  key2
a     one    -0.178517
      two    -2.393383
b     one     0.544226
      two     0.332108
Name: data2, dtype: float64

### Grouping with Dicts and Series

In [24]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe     1.811713  0.101142 -0.779766  1.215250 -0.517868
Steve  -0.001939  0.259825 -0.485272  1.078489 -0.031491
Wes    -0.126298       NaN       NaN -0.508531  1.074278
Jim    -0.352356  2.186217 -0.472962 -0.540955 -0.207937
Travis -0.251648 -0.636451 -0.390712  0.282131  0.608650

In [25]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people

               a         b         c         d         e
Joe     0.622352  0.416107 -1.340816 -1.863348  0.390539
Steve  -0.990655 -1.771268 -0.540959 -0.507046  0.749950
Wes    -0.870538 -0.511812  0.147478  0.689123  1.661331
Jim     0.603485 -0.701828 -0.493809  2.024965 -0.573433
Travis -0.318262 -0.244242  0.559635  1.269471 -0.203144

In [26]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [27]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe    -3.204164  1.428998
Steve  -1.048005 -2.011974
Wes     0.836601  0.278981
Jim     1.531157 -0.671776
Travis  1.829106 -0.765648

In [28]:
map_series = pd.Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        2    3
Jim        2    3
Travis     2    3

### Grouping with Functions

In [29]:
people.groupby(len).sum()  #? 这里面len是什么意思

          a         b         c         d         e
3  0.355299 -0.797534 -1.687147  0.850741  1.478438
5 -0.990655 -1.771268 -0.540959 -0.507046  0.749950
6 -0.318262 -0.244242  0.559635  1.269471 -0.203144

In [30]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min() #？ 同理？

              a         b         c         d         e
3 one -0.870538 -0.511812 -1.340816 -1.863348  0.390539
  two  0.603485 -0.701828 -0.493809  2.024965 -0.573433
5 one -0.990655 -1.771268 -0.540959 -0.507046  0.749950
6 two -0.318262 -0.244242  0.559635  1.269471 -0.203144

### Grouping by Index Levels

In [31]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],  #？ 这个方法是什么
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.039926 -0.071193 -0.371771  1.478095  0.198274
1     -0.694436 -0.785877  2.199966  1.974800 -1.466133
2      0.382547 -0.513268  0.063461  1.290568  0.115070
3     -0.703406 -0.821299  0.299706  0.101639 -0.426628

In [32]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [33]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

## Data Aggregation

In [38]:
df
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9) #返回给定分位数

key1
a    0.941705
b    1.205094
Name: data1, dtype: float64

In [7]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

             size   tip   tip_pct  total_bill
day  smoker
Fri  No         1  2.00  0.067349       10.29
     Yes        3  3.73  0.159925       34.42
Sat  No         3  8.00  0.235193       41.08
     Yes        4  9.00  0.290095       47.74
Sun  No         4  4.99  0.193226       39.40
     Yes        3  5.00  0.644685       38.10
Thur No         5  5.45  0.193350       33.68
     Yes        2  3.00  0.151240       32.77

In [8]:
grouped.describe()

             size                                                 tip  \
            count      mean       std  min  25%  50%   75%  max count
day  smoker
Fri  No       4.0  2.250000  0.500000  2.0  2.0  2.0  2.25  3.0   4.0
     Yes     15.0  2.066667  0.593617  1.0  2.0  2.0  2.00  4.0  15.0
Sat  No      45.0  2.555556  0.784960  1.0  2.0  2.0  3.00  4.0  45.0
     Yes     42.0  2.476190  0.862161  1.0  2.0  2.0  3.00  5.0  42.0
Sun  No      57.0  2.929825  1.032674  2.0  2.0  3.0  4.00  6.0  57.0
     Yes     19.0  2.578947  0.901591  2.0  2.0  2.0  3.00  5.0  19.0
Thur No      45.0  2.488889  1.179796  1.0  2.0  2.0  2.00  6.0  45.0
     Yes     17.0  2.352941  0.701888  2.0  2.0  2.0  2.00  4.0  17.0

                       ...     tip_pct           total_bill             \
                 mean  ...         75%       max      count       mean
day  smoker            ...
Fri  No      2.812500  ...    0.163652  0.187735        4.0  18.420000
     Yes     2.714000  ...    0.209240  0.263480       15.0  16.813333
Sat  No      3.102889  ...    0.183915  0.291990       45.0  19.661778
     Yes     2.875476  ...    0.190502  0.325733       42.0  21.276667
Sun  No      3.167895  ...    0.185185  0.252672       57.0  20.506667
     Yes     3.516842  ...    0.215325  0.710345       19.0  24.120000
Thur No      2.673778  ...    0.184843  0.266312       45.0  17.113111
     Yes     3.030000  ...    0.194837  0.241255       17.0  19.190588


                   std    min     25%     50%      75%    max
day  smoker
Fri  No       5.059282  12.46  15.100  19.235  22.5550  22.75
     Yes      9.086388   5.75  11.690  13.420  18.6650  40.17
Sat  No       8.939181   7.25  14.730  17.820  20.6500  48.33
     Yes     10.069138   3.07  13.405  20.390  26.7925  50.81
Sun  No       8.130189   8.77  14.780  18.430  25.0000  48.17
     Yes     10.442511   7.25  17.165  23.100  32.3750  45.35
Thur No       7.721728   7.51  11.690  15.950  20.2700  41.19
     Yes      8.355149  10.34  13.510  16.470  19.8100  43.11

[8 rows x 32 columns]

### Column-Wise and Multiple Function Application

In [3]:
tips = pd.read_csv('examples/tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [4]:
grouped = tips.groupby(['day', 'smoker'])

In [5]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [9]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [10]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [11]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [12]:
result['tip_pct']

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [13]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]
grouped['tip_pct', 'total_bill'].agg(ftuples)

                 tip_pct              total_bill
            Durchschnitt Abweichung Durchschnitt  Abweichung
day  smoker
Fri  No         0.151650   0.000791    18.420000   25.596333
     Yes        0.174783   0.002631    16.813333   82.562438
Sat  No         0.158048   0.001581    19.661778   79.908965
     Yes        0.147906   0.003767    21.276667  101.387535
Sun  No         0.160113   0.001793    20.506667   66.099980
     Yes        0.187250   0.023757    24.120000  109.046044
Thur No         0.160298   0.001503    17.113111   59.625081
     Yes        0.163863   0.001551    19.190588   69.808518

In [14]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],
             'size' : 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

### Returning Aggregated Data Without Row Indexes

In [ ]:
tips.groupby(['day', 'smoker'], as_index=False).mean()

## Apply: General split-apply-combine

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]
top(tips, n=6)

In [ ]:
tips.groupby('smoker').apply(top)

In [ ]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
result
result.unstack('smoker')

f = lambda x: x.describe()
grouped.apply(f)

### Suppressing the Group Keys

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top)

### Quantile and Bucket Analysis

In [ ]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4)
quartiles[:10]

In [ ]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}
grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack()

In [ ]:
# Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

### Example: Filling Missing Values with Group-Specific       Values

In [ ]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
s
s.fillna(s.mean())

In [ ]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index=states)
data

In [ ]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data
data.groupby(group_key).mean()

In [ ]:
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

In [ ]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

### Example: Random Sampling and Permutation

In [ ]:
# Hearts, Spades, Clubs, Diamonds
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)

deck = pd.Series(card_val, index=cards)

In [ ]:
deck[:13]

In [ ]:
def draw(deck, n=5):
    return deck.sample(n)
draw(deck)

In [ ]:
get_suit = lambda card: card[-1] # last letter is suit
deck.groupby(get_suit).apply(draw, n=2)

In [ ]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

### Example: Group Weighted Average and Correlation

In [ ]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                'b', 'b', 'b', 'b'],
                   'data': np.random.randn(8),
                   'weights': np.random.rand(8)})
df

In [ ]:
grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])
grouped.apply(get_wavg)

In [ ]:
close_px = pd.read_csv('examples/stock_px_2.csv', parse_dates=True,
                       index_col=0)
close_px.info()
close_px[-4:]

In [ ]:
spx_corr = lambda x: x.corrwith(x['SPX'])

In [ ]:
rets = close_px.pct_change().dropna()

In [ ]:
get_year = lambda x: x.year
by_year = rets.groupby(get_year)
by_year.apply(spx_corr)

In [ ]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

### Example: Group-Wise Linear Regression

In [ ]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [ ]:
by_year.apply(regress, 'AAPL', ['SPX'])

## Pivot Tables and Cross-Tabulation

In [ ]:
tips.pivot_table(index=['day', 'smoker'])

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                 columns='smoker')

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                 columns='smoker', margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'smoker'], columns='day',
                 aggfunc=len, margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'],
                 columns='day', aggfunc='mean', fill_value=0)

### Cross-Tabulations: Crosstab

In [ ]:
from io import StringIO
data = """\
Sample  Nationality  Handedness
1   USA  Right-handed
2   Japan    Left-handed
3   USA  Right-handed
4   Japan    Right-handed
5   Japan    Left-handed
6   Japan    Right-handed
7   USA  Right-handed
8   USA  Left-handed
9   Japan    Right-handed
10  USA  Right-handed"""
data = pd.read_table(StringIO(data), sep='\s+')

In [ ]:
data

In [ ]:
pd.crosstab(data.Nationality, data.Handedness, margins=True)

In [ ]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion